#!/bin/bash
#
# Init Docker authentication 
# 
# seb@mariadb.com
#

##
## Usage:  complete this file with your authentication credentials and rename this file as .secret 
##


# MariaDB Entrerprise authentication
mail=
token=

# MariaDB test user
user=""
password=


